<!DOCTYPE html>
<html>
<head>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="/scripts/vendors/jquery/jquery-3.3.1.min.js"></script>
		<!--
		<script src="/scripts/vendors/jquery/jquery.mobile-1.5.0-alpha.1.min.js"></script>
		<script src="/scripts/vendors/jquery/jquery.touchSwipe.min.js"></script>
		<script src="/scripts/vendors/jquery/jquery.scrollTo.min.js"></script>
		-->

		<script src='/scripts/vendors/mapbox/V3.1.1/mapbox.js'></script>
		<link rel="stylesheet" type="text/css" href="/scripts/vendors/mapbox/V3.1.1/mapbox.css" />
		<script src='/scripts/vendors/turfjs/turf.min.js'></script>
		
		<link rel="stylesheet" type="text/css" href="/styles/slds/assets/styles/salesforce-lightning-design-system-vf.css" />
	
		<link rel="stylesheet" type="text/css" href="/styles/galigeo.css" />	

		<script type="module" src="./scripts/galigeo/mci/mci.js"></script>

	</head>
	<body>
		<div id="map"></div>
		<div class="ggoslds" style="position:absolute; top: 0px; right: 0px">
			<div id="logoutBtn">
				<div class="slds-icon_container" style="position: absolute; right: 2px; top: 4px;">
					<svg class="slds-icon slds-icon_x-small slds-icon-text-default" style="fill: red;">
						<use xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#logout"></use>
					</svg>
				</div>
			</div>
		</div>
		<div id="appContainer" class="ggoslds" style="top:33%;">
			<div id="mainContainer" class="slds-grid slds-gutters slds-p-around_xx-small">
				<article class="slds-card slds-p-around-medium" style="display: block;width: 100%;">
					<div id="mainContainer-card-body" class="slds-card__body slds-card__body_inner" style="max-height: calc(100%);">
						<div id="waiting4Mission" class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_info" role="alert">
							<div role="status" class="slds-spinner slds-spinner_x-small slds-spinner_inline" style=" top: 8px; left: -10px; ">
								<span class="slds-assistive-text">Loading</span>
								<div class="slds-spinner__dot-a"></div>
								<div class="slds-spinner__dot-b"></div>
							</div>
							<h2>en attente de mission ... </h2>					
						</div>
						<div id="missionContent" class="slds-scrollable_y slds-hide" style="position: absolute; top: 0px; left: 18px; right: 13px; bottom: 60px;">

						</div>
					</div>
					<footer id="missionFooter" class="slds-card__footer slds-hide" style="position: absolute; bottom: 0px; left: 0px; right: 0px;">
						<ul class="slds-button-group-row">
							<li class="slds-button-group-item">
								<button id="btnMissionEnRoute" class="slds-button slds-button_brand">En route</button>
							</li>
							<li class="slds-button-group-item">
								<button id="btnMissionDebut" class="slds-button slds-button_brand">Début</button>
							</li>
							<li class="slds-button-group-item">
								<button id="btnMissionFin" class="slds-button slds-button_success">Fin</button>
							</li>
							<li class="slds-button-group-item">
								<button id="btnMissionSignalement" class="slds-button slds-button_destructive">Signalement</button>
							</li>
						</ul>
					</footer>
				</article>
		</div>
	</div>
	<script>
		var self = this;
		$(document).ready(function(e){
			console.log(' >> document is ready');
			$('#logoutBtn').click(function(e){
				var logoutForm = $('<form action="/logout" />');
				$('body').append(logoutForm);
				logoutForm.submit();
			});

			var windowH = $(window).height();
			$('body').css({
				'height':  windowH+'px',
				'max-height':  windowH+'px',
			})
			self.galigeo = new GGO.GGOApp ({
				windowHeight: windowH
			});
		});
	</script>
</body>
</html>