<!DOCTYPE html>
<html>
<head>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="/scripts/vendors/jquery/jquery-3.3.1.min.js"></script>

		<!--
		<script src="/scripts/vendors/jquery/jquery.mobile-1.5.0-alpha.1.min.js"></script>
		-->
		<script src="/scripts/vendors/jquery/jquery.touchSwipe.min.js"></script>
		<!--
		<script src="/scripts/vendors/jquery/jquery.scrollTo.min.js"></script>
		<script src="/scripts/vendors/jquery/jquerymobile-swipeupdown.js"></script>
		-->
		
		<script src='/scripts/vendors/mapbox/V3.1.1/mapbox.js'></script>
		<link rel="stylesheet" type="text/css" href="/scripts/vendors/mapbox/V3.1.1/mapbox.css" />
		<script src='/scripts/vendors/turfjs/turf.min.js'></script>

		<script src='/scripts/vendors/momentjs/moment-with-locales.min.js'></script>

		
		<link rel="stylesheet" type="text/css" href="/styles/slds/assets/styles/salesforce-lightning-design-system-vf.css" />
	
		<link rel="stylesheet" type="text/css" href="/styles/galigeo.css" />	

		<script type="module" src="./scripts/galigeo/mci/mci.js"></script>

	</head>
	<body>
		<div id="map"></div>
		<div id="appContainer" class="ggoslds" >
			<div class="ggoslds" >
				<div id="topleft_container" class="top-left_container">
					<span id="legendIcon" class="slds-icon_container slds-icon_container_circle slds-icon-action-map" style="margin-top: 5px; display: block;">
						<svg class="slds-icon slds-icon_x-small" aria-hidden="true">
							<use xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#standard_objects"></use>
						</svg>
						<span class="slds-assistive-text">Description of icon when needed</span>
					</span>
					<span id="neighborhoodIcon" class="slds-icon_container slds-icon_container_circle slds-icon-action-map" style="margin-top: 5px; display: block;">
						<svg class="slds-icon slds-icon_x-small" aria-hidden="true">
							<use xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#checkin"></use>
						</svg>
						<span class="slds-assistive-text">Description of icon when needed</span>
					</span>
					<section id="legend_popover" aria-describedby="dialog-body-legend" aria-labelledby="dialog-heading-legend" class="slds-popover slds-nubbin_left-top slds-popover_small slds-hide" role="dialog">
						<header class="slds-popover__header">
							<h2 class="slds-text-heading_small" id="dialog-heading-legend">Légende</h2>
						</header>
						<div class="slds-popover__body" id="dialog-body-legend">							
						</div>
					</section>
				</div>
				<div id="logoutBtn">
					<div class="slds-icon_container" style="position: absolute; right: 2px; top: 4px;">
						<svg class="slds-icon slds-icon_x-small slds-icon-text-default" style="fill: red;">
							<use xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#logout"></use>
						</svg>
					</div>
				</div>
			</div>
			<article id="mission-card-Container" class="slds-card bottom-card" style="display: block;width: 100%;">
				<div class="slds-card__header slds-grid">
					<header id="maincard-header" class="slds-media slds-media_center slds-has-flexi-truncate">
						<div class="slds-media__body">
							<div id="swiper_handle" style="text-align:center;">
								<span class="slds-icon_container slds-icon-utility-assignment">
									<svg class="slds-icon slds-icon-text-default slds-icon_xx-small" aria-hidden="true">
										<use xlink:href="/styles/slds/assets/icons/utility-sprite/svg/symbols.svg#assignment"></use>
									</svg>
									<span class="slds-assistive-text">Description of icon when needed</span>
								</span>
							</div>
						</div>
					</header>
				</div>
				<div id="mainContainer-card-body" class="slds-card__body slds-card__body_inner" style="max-height: calc(100%);">
					<div id="waiting4Mission" class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_info" role="alert">
						<div role="status" class="slds-spinner slds-spinner_x-small slds-spinner_inline" style=" top: 8px; left: -10px; ">
							<span class="slds-assistive-text">Loading</span>
							<div class="slds-spinner__dot-a"></div>
							<div class="slds-spinner__dot-b"></div>
						</div>
						<h2>en attente de mission ... </h2>					
					</div>
					<div id="missionContent" class="slds-scrollable_y slds-hide" style="position: absolute; top: 15px; left: 18px; right: 13px; bottom: 60px;">

					</div>
				</div>
				<footer id="missionFooter" class="slds-card__footer slds-hide" style="position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 0.5rem 0.5rem;">
					<ul class="slds-button-group-row">
						<li class="slds-button-group-item">
							<button id="btnMissionEnRoute" class="slds-button slds-button_brand">En route</button>
						</li>
						<li class="slds-button-group-item">
							<button id="btnMissionDebut" class="slds-button slds-button_brand">Début</button>
						</li>
						<li class="slds-button-group-item">
							<button id="btnMissionFin" class="slds-button slds-button_success">Fin</button>
						</li>
						<li class="slds-button-group-item">
							<button id="btnMissionSignalement" class="slds-button slds-button_destructive">Signalement</button>
						</li>
					</ul>
				</footer>
			</article>
			<div id="mainContainer" class=""></div>
	</div>
	<script>
		var self = this;		
		$(document).ready(function(e){
			console.log(' >> document is ready');
			$('#logoutBtn').click(function(e){
				GGO.disconnect(
					self.galigeo.getPatrouille().id, 
					{
						'baseRESTServicesURL': '/services/rest/mci'
					}
				);
			});

			var windowH = $(window).height();
			$('body').css({
				'height':  windowH+'px',
				'max-height':  windowH+'px',
			});
			let userRole = sessionStorage.getItem('role');

			if (!userRole) {
				GGO.SessionIssuePrompt('Rôle utilisateur indéfini', 'Votre rôle utilisateur n\'est pas défini. Veuillez vous reconnecter.', $('#appContainer').empty());
				return;
			}
			let patrouille = sessionStorage.getItem('patrouille');
			if (!patrouille) {
				GGO.SessionIssuePrompt('Patrouille non définie', 'Aucun patrouille n\'est pas défini. Veuillez vous reconnecter.', $('#appContainer').empty());
			}
			
			let secteurs = null;
			switch(userRole) {
				case 'india' : 
					secteurs = sessionStorage.getItem('soussecteurs');
					break;
				case 'charly' :
					secteurs = sessionStorage.getItem('secteurs');
					break;
				default:
				
			}

			self.galigeo = new GGO.GGOApp ({
				windowHeight: windowH,
				patrouille: JSON.parse(patrouille),
				secteurs: JSON.parse(secteurs)
			});
			$('.ui-loader').remove();
			
		});
	</script>
</body>
</html>